body {
  margin: 0;
}
header .container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  height: 90px;
}
.container img {
  margin-left: 50px;
}
header {
  background-color: rgb(156, 133, 133);
  border-radius: 30px;
}
.container h1 {
  font-family: "Lobster", sans-serif;
  background-color: rgb(79, 32, 31);
  padding: 5px;
  border-radius: 5px;
}
.container ul {
  display: flex;
  gap: 30px;
}
.container li a {
  text-decoration: none;
  color: rgb(8, 8, 8);
}
.container ul li {
  list-style-type: none;
  background-color: rgb(79, 32, 31);
  border-radius: 2px;
  align-self: center;
  padding: 5px;
  border-radius: 5px;
  font-family: "Lobster", sans-serif;
}

main .container {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  height: calc(100vh - 90px);
  align-items: center;
}
main .container .description {
  width: 500px;
  height: 400px;
  display: flex;
  flex-direction: column;
}
.description h2 {
  font-family: "Oswald", sans-serif;
  font-size: 50px;
  color: rgb(82, 40, 41);
  margin-top: 10px;
}
.description p {
  margin-bottom: 30px;
  margin-top: 5px;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
}
.description button {
  width: 100px;
  padding: 5px;
  background-color: rgb(156, 133, 133);
  font-family: "Lobster", sans-serif;
  border-radius: 10px;
  cursor: pointer;
}
h4 {
  width: 300px;
  padding: 10px;
  background-color: rgb(82, 40, 41);
  text-align: center;
  margin: auto;
  border-radius: 10px;
}
section .container {
  width: 80%;
  margin: auto;
  display: flex;
  height: 400px;
  text-align: center;
  margin-top: 50px;
  justify-content: space-around;
}
.box-1,
.box-2 {
  width: 300px;
  height: 350px;
  background-color: rgb(156, 133, 133);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.box-1 h3 {
  border-radius: 5px;
  font-family: "Oswald", sans-serif;
  color: rgb(79, 32, 31);
}
.box-2 h3 {
  border-radius: 5px;
  font-family: "Oswald", sans-serif;
  color: rgb(79, 32, 31);
}
.box-1 p {
  font-family: "Oswald", sans-serif;
}
.box-2 p {
  font-family: "Oswald", sans-serif;
}
.box-1 img {
  margin-top: 20px;
}
